html {
    font-family: JosefinSans-Regular;
    color: white;
    background-color: #65DFC9;
    font-family: "Josefin Sans", sans-serif;
}
div {
    text-align: center;
    height: 95vh;
    background: radial-gradient(
        circle at center,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.2)
    );
    border-radius: 1rem;
}
h1 {
    padding-top: 10vh;
}